<div class='post unit'>
    <h3>
        <a href="{{url_for('main.post', post_id=post.id)}}">Post #{{post.id}}</a>
    </h3>
    <div class='post content'>
        <a href="{{url_for('main.user_profile', username=post.author.username)}}">
            <img src={{post.author.avatar(30)}} />
        </a>
        <p>
            <b><a href="{{url_for('main.user_profile', username=current_user.username)}}">
                {{ post.author.username }}:</a>
            </b> {{ post.body }}
        </p>
    </div>
    <p class='post date'>Posted at {{ post.added_at.strftime('%d-%m-%Y %H:%M') }}</p>
</div>
