<!doctype html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="styles.css"> -->
        {% if args %}
        {% if args.title %}
            <title>{{ args.title }} - Microblog</title>
            {% endif %}
        {%else%}
        <title>Welcome to Microblog!</title>
        {% endif %}
        <link rel="icon" href="data:;base64,=">
    </head>
    <body>
        <!--Main menu-->
        <div>
            Microblog: 
            <a href="{{url_for('main.index')}}">Home</a>
            <a href="{{url_for('main.login')}}">Login</a>
        </div>
        <hr>
        <!--alerts and messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class = flashes>
            {% for message in messages%}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!--changeable content-->
        {% block content %}{% endblock %}
    </body>
</html>
