{% extends "base.html" %}


{% block content %}

<p>Last posts</p>
<h1>Hi, {{ current_user.username }}!</h1>
<div class='post section'>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.post.label }}<br>
        {{ form.post(cols=64, rows=5) }}<br>
        {% for error in form.post.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    </form>
    {% for post in posts %}
    <p>
            {% include "_post.html"%}
    </p>
    {% endfor %}
</div>

{% endblock %}
