{% extends "base.html" %}

{% import "bootstrap_wtf.html" as wtf %}

...

{% block content %}

{% include "_post.html" %}
<div class="comment unit">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ wtf.form_field(form.comment) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
<br>
<h2>Comments:</h2>
{% if comments %}
    {% for comment in comments %}
        {% include "_comment.html" %}
    {% endfor %}
    {% if comment_prev_url %}
        <a href="{{ comment_prev_url }}"><< Newer comments</a>
    {% endif %}
    {% if comment_next_url %}
        <a href="{{ comment_next_url }}">Older comments >></a>
    {% endif %}
{% else %}
    <p>No one commented yet</p>
{% endif %}

{% endblock %}
