{% extends "base.html"%}


{% block content%}
{% if user %}
    <p>The page of user <b>{{user.username}}.</b></p>
    <table>
            <tr><img src="{{ user.avatar(250) }}"></tr>
            <tr><h2>{{ user.username }}</h1></tr>

            {% if user.about %}
                <tr>About me: {{user.about}}</tr>
            {% else %}
               <tr>About me: Empty</tr>
            {% endif %}
            <br />

            <tr>Registration date: <input type="date" value={{ user.added_at }} readonly /></tr>
            <br />

            {% if user.last_seen %}
                <tr>Last seen: {{user.last_seen.strftime('%d-%m-%Y %H:%M')}}</tr>
            {% else %}
               <tr>Last seen: No data - {{user.username}} has never logged in.</tr>
            {% endif %}

            
            <p>{{ user.count_followers() }} followers, {{ user.count_following() }} following.</p>
            {% if user == current_user %}
            <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
            {% elif not current_user.is_following(user) %}
            <p>
                <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                    {{ follow_form.hidden_tag() }}
                    {{ follow_form.submit(value='Follow') }}
                </form>
            </p>
            {% else %}
            <p>
                <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                    {{ follow_form.hidden_tag() }}
                    {{ follow_form.submit(value='Unfollow') }}
                </form>
            </p>
            {% endif %}
    </table>

    <h3>Posts</h3>
    {% if posts %}
        {% for post in posts %}
            {% include "_post.html"%}
        {% endfor%}
    {% else %}
        <p>This user haven't published any posts yet.    
    {% endif %}
    
    {% if prev_url %}
        <a href="{{ prev_url }}"><< Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts >></a>
    {% endif %}
    
    <h3>Comments</h3>
    {% if comments %}
    {% for comment in comments %}
        <div class="unit">{{comment}}</div><br />
        {% endfor%}
    {% else %}
        <p>This user hasn't published any comments yet.    
    {% endif %}
{% else %}
    <div>There's no user with name <b>{{raw_username}}</b></div>
{% endif%}
{% endblock%}
