{% extends "base.html"%}


{% block content%}
{% if args.user %}
    <p>The page of user <b>{{args.user.username}}</b></p>

    <h3>Posts</h3>
    {% if args.posts %}
    {% for post in args.posts %}
        <div class="unit">{{post}}</div><br />
        {% endfor%}
    {% else %}
        <p>This user haven't published any posts yet.    
    {% endif %}
    
    <h3>Comments</h3>
    {% if args.comments %}
    {% for comment in args.comments %}
        <div class="unit">{{comment}}</div><br />
        {% endfor%}
    {% else %}
        <p>This user haven't published any comments yet.    
    {% endif %}
{% else %}
    <div>There's no user with name <b>{{args.raw_username}}</b></div>
{% endif%}
{% endblock%}
